{% extends 'layouts/main_frame.html.twig' %}

{% block content %}
    <h1 class="pb-3">Ajouter une image</h1>
    {{ include('partials/_form.html.twig', {'button_label': 'Publier'}) }}
{% endblock %}


