{% extends 'layouts/main_frame.html.twig' %}

{% block content %}
    <div style="margin : 0 10% ;">
        <h1 class="text-center my-5"> Reinitialiser votre mot de passe</h1>
        {{ include('partials/_form.html.twig', {'button_label': 'Confirmer votre email'}) }}
    </div>
{% endblock %}
