{% extends 'layouts/main_frame.html.twig' %}

{% block content %}
    <div class="small-margin-on-main-content">
        <h1 class="text-center my-5"> Reinitialiser votre mot de passe</h1>
        {{ include('partials/_form.html.twig', {'button_label': 'Soumettre'}) }}
    </div>
{% endblock %}

