{% extends 'layouts/main_frame.html.twig' %}

{% block content %}
    <div style="margin : 0 10% ;">
        <p>
            Un email vient de vous être envoyé avec un lien pour confimer votre mot de passe.
        </p>
        <p>
            Si aucun email n'est arrivé, verifier des vos spams ou
            <a href="{{ path('app_register') }}"> réessayer  </a>.</p>
    </div>
{% endblock %}
