{% block paging %}
    <div>
        {% for i in 1..max_page %}

            {% if i == actual_page %}
                PAGE {{ i }} |
            {% else %}
                <a href="{{  path('app_trick_show', {'id': trick.id, 'page': i}) }}"> Page {{ i }} </a>
            {% endif %}

        {% endfor %}
    </div>
{% endblock paging %}