{% block paging %}
    <div>
        {% for i in 1..max_page %}

            {% if i == actual_page %}
                &vellip; PAGE {{ i }} &vellip;
            {% else %}
                <a href="{{  path('app_trick_show', {'slug': trick.slug, 'page': i}) }}"> Page {{ i }} </a>
            {% endif %}

        {% endfor %}
    </div>
{% endblock paging %}