<tr>
    {{ form_label(form) }}
    {{ form_widget(form) }}
    {{ form_help(form) }}
    {{ form_errors(form) }}
    <span class="form-group btn-remove" style="margin-top: -120px; margin-left: -10px; float: right; cursor: pointer;">
        <svg type="button" class="fa fa-window-close" aria-hidden="true">
        </svg>
    </span>
</tr>