{% extends 'layouts/main_frame.html.twig' %}

{% block content %}
    <h1 class="pb-3">Remplacer cette video par une nouvelle </h1>
    <div class="form-format">
        <iframe class="mx-auto" height="200" src="{{ video.path }}">Video
        </iframe>
    </div>

    {{ include('partials/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}


