<h1>Bonjour {{ user.fullName }}</h1>

<p>
   Pour reinitialiser votre mot de passe, cliquer sur : <br><br>
    <a href=" {{ link }}"> Reinitialiser mon mot de passe </a>.
</p>

<p>
    L'equipe de SnowTricks vous remercie
</p>
