<h1>Bonjour {{ user.fullName }}</h1>

<p>
   Veuillez confirmer votre inscription  en cliquant sur : <br><br>
    <a href=" {{ link }}">Confirmer mon inscription </a>.
</p>

<p>
    Vous pourrez alors modifier ou supprimer les figures de snow ainsi qu'en créer de nouvelles et faire parti
    de l'espace de discussion relatif aux figures.
</p>

<p>
    L'equipe de SnowTricks vous remercie
</p>
