{% extends 'base.html.twig' %}

{% block title 'Create Trick' %}

{% block body %}
    {{ include('partials/_masthead.html.twig') }}
    <div class="row">
        <div class="blockcenter">
            <div class="blockcenter bgcenter col-lg-8 col-md-10 mx-auto p-5" style="">
                {{ include('partials/_flash_messages.html.twig') }}
                <h1 class="pb-3">Creer une nouvelle figure</h1>
                {{ include('partials/_form.html.twig', {'button_label': 'Publier'}) }}
            </div>
        </div>
    </div>
{% endblock %}
