{% extends 'layouts/main_frame.html.twig' %}

{% block content %}
    <h1 class="pb-3">Creer une nouvelle figure</h1>
    {{ include('partials/add_trick/_specific_form.html.twig', {'button_label': 'Publier'}) }}
{% endblock %}


