<div class="d-inline-block">
    <form method="post" class="d-inline-block" action="{{ path('app_video_delete', {'id': video.id}) }}" onsubmit="return confirm('Supprimer la video ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
        <button class="bg-transparent border-none">
            <img src="{{ asset('assets/icon/delete.png') }}" class="width-edit-icon" alt=""> </button>
    </form>
</div>
